
/* Properties for page index.html */

p {
  margin: 0;
}

.spinningdots {
  width: 100px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: var(--color-main);
}

.spinningdots-fadeout {
  animation: spinningdots_fadeout ease-in 0.3s forwards;
}

@keyframes spinningdots_fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash-container {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.flash {
  background: #ff7373;
  border: 1px solid #e62020;
  border-top: none;
  color: #4a0909;
  font-size: 1.2rem;
  font-family: baloo-regular, sans-serif;
  padding: 12px 20px 0px;
  padding-right: 30px;
  display: none;
  z-index: 100;
  border-radius: 0px 0px 5px 5px;
  transform: translateX(20px);
}

.flash-close {
  position: relative;
  top: -6px;
  left: 15px;
  font-size: 1.3rem;
}

.flash-close:hover {
  cursor: pointer;
}

.textrequest {
  margin-left: auto;
  margin-right: auto;
  padding-top: 13vh;
  text-align: center;
}

.textrequest__container input, .textrequest__container button {
  display: none;
  transform: translateX(25px);
}

.textrequest__container input {
  border: 2px solid var(--color-main);
  height: 30px;
  border-radius: 6px;
  padding-left: 10px;
  color: white;
  font-size: 1.2rem;
  width: 209px;
}

/* .textrequest__container input::placeholder {
  font-family: baloo-regular, sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 30px;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #04001a inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.textrequest__container button {
  /* transition: all .3s; */
  border: 2px solid var(--color-main);
  height: 35px;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.textrequest__container button:hover {
  background: var(--color-main);
  /* background: linear-gradient(var(--color-main), var(--color-maindark)); */
}

.textrequest__container button:hover path {
  fill: white;
}

.textrequest__container button path {
  fill: var(--color-main);
}

.textrequest__container input[type=text]:focus {
  background: none;
  box-shadow: none;
}



.form__container-btns, .form__container-input {
  display: flex;
  justify-content: center;
}


.buttons {
  padding-top: 26px;
  margin-left: 24px;
}

.buttons__button {
  font-family: baloo-regular;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  /* padding: 18px 16px 7px 16px; */
  margin: 16px 16px 4px 16px;
  color: #bebebe;
  border-radius: 10px;
  /* margin-right: 10px; */
  transition: all .3s;
  background: linear-gradient(transparent, transparent);
  position: relative;
  padding: 0 0;
}

.buttons__button:hover {
  color: white;
}

.buttons__button-selected {
  color: white;
  padding: 16px 16px 4px 16px;
  margin: 0 0;
  animation: btn-selected .3s forwards;
}

@keyframes btn-selected {
  0% {
    /* background: linear-gradient(transparent, transparent); */
    background: transparent;
  }
  100% {
    background: linear-gradient(var(--color-main), var(--color-maindark));
    /* background: blue; */
  }
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  top: -16px;
  word-break: break-all;
}

.form__btns-suits {
  margin-right: 30px;
}

.form__buttonlaunch {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  user-select: none;
  display: block;
  width: 260px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  margin-bottom: 40px;
  transform: translateX(25px);
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  position: relative;
}

/* BORDER-TWEAK */
.form__buttonlaunch:before {
  border: 2px solid var(--color-main);
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 5px;
}
.form__buttonlaunch:hover:before {
  border: 0px solid var(--color-main);
}
.form__buttonlaunch:hover {
  background: linear-gradient(var(--color-main), var(--color-maindark));
}

.form__buttonlaunch.disabled:before {
  color: rgb(83, 83, 83);
  border: 2px solid rgb(83, 83, 83);
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 5px;
}
.form__buttonlaunch.disabled {
  color: rgb(83, 83, 83);
}
.form__buttonlaunch.disabled:hover {
  background: none;
}

.text__text {
  color: lightgray;
  display: block;
  width: calc(100% - 80px);
}

.text__container {
  display: flex;
}

.text__scroll {
  margin-right: 30px;
  width: 40px;
  position: relative;
}

.text__scrollbar {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%) translate3d(0, 0, 0);
          transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
          backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 20px;
  height: 100%;
  background: var(--color-mainreallydark);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0, 0.8);
  box-shadow: inset 0px 0px 12px 5px rgba(0,0,0, 0.5);
  min-height: 80px;
  max-height: 280px;
  border-radius: 6px;
}

.text__scrollcursor {
  backface-visibility: hidden; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translate3d(0,0,0);
  height: 23px;
  width: 26px;
  border: 2px solid var(black);
  border-radius: 6px;
  cursor: grab;
  background: inherit;
  transition: all .2s;
  background: var(--color-main);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255, 0.4), 0px 0px 10px black;
}

.text__scrollcursor:hover, .text__scrollcursor-scrolling {
  box-shadow: inset 0px 0px 10px 4px rgba(255,255,255, 0.9), 0px 0px 10px black;
}