
@font-face {
  font-family: 'palanquin-medium';
  src:  url('../assets/fonts/palanquin-medium.woff') format('woff'),
        url('../assets/fonts/palanquin-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  --color-main: #0ABDD2;
  --color-success: #baf5fc;
  --color-error: rgb(255, 0, 98);
  --color-gradient: #272939;
}

::selection {
  background: var(--color-main);
  color: white;
}

::-moz-selection {
  background: var(--color-main);
  color: white;
}

html, body {
  padding: 0;
  margin: 0;
}

.strong {
  font-weight: bold;
}

.center-x {
  margin-left: auto;
  margin-right: auto;
}

.color-error {
  color: var(--color-error);
}

.color-success {
  color: var(--color-success);
}

body {
  color: var(--color-main);
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: palanquin-medium, sans-serif;
  /* background: linear-gradient(#131220, #2c2c2c); */
  background: linear-gradient(#030616 45%, var(--color-gradient));
  min-height: 100vh;
  /* hyphens: auto; */

}

/* .test {
  background-image: url('../assets/test.jpg');
  background-position: center center;
  height: 100px;
  width: 400px;
} */