
/* Properties for page typing.html */

.typing__container {
  /* background-color: rgba(65, 105, 225, 0.246); */
  display: inline-block;
  position: relative;
  left: 33%;
  width: 45%;
  height: 4rem;
  overflow: hidden;
  /* left: 50%;
  transform: translateX(-50%); */
  border: 4px solid var(--color-main);
  border-radius: 0px 50px 50px 0px;
  /* transition: border 0.05s; */
  margin-top: 10%;
}

.typing__text {
  font-size: 2rem;
  display: inline;
  position: relative;
}

.typing__cursor {
  display: inline-block;
  height: 2em;
  width: 25px;
  /* background: rgba(95, 212, 255, 0.315); */
  background: var(--color-main);
  /* background: rgb(163, 26, 33); */
  font-size: 2rem;
  text-align: right;
  /* transition: background 0.05s; */
}

.textall {
  width: 74%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
}

.textall__prev {
  /* border-right: 1px solid white; */
  animation: cursor 1.1s infinite;
}

.textall__current {
  color: rgb(241, 241, 241);
}

.textall__error {
  color: var(--color-error);
}

@keyframes cursor {
  0% {
    border-right: 1px solid white;
  }
  15% {
    border-right: 1px solid white;
  }
  50%{ 
    border-right: 1px solid rgba(255,255,255, 0.0);
  }
  85% {
    border-right: 1px solid white;
  }
  100% {
    border-right: 1px solid white;
  }
}


.success-fade-out-slow {
  animation: success_fade_out_slow .50s ease-out forwards;
}
@keyframes success_fade_out_slow {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.success-fade-out {
  animation: success_fade_out .45s ease-in forwards;
}
@keyframes success_fade_out {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.success-fade-out-quick {
  animation: success_fade_out_quick .40s ease-in forwards;
}
@keyframes success_fade_out_quick {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}



/* MODAL ============================= */

/* MODAL-BG ================ */
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#030616 45%, var(--color-gradient));
  z-index: 50;
}
.modalbg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  z-index: 49;
}
.opacity-100 {
  animation: opacity-100 .5s forwards;
}
@keyframes opacity-100 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.72;
  }
}
/* MODAL-BG END ============ */


/* MODAL-BOX =============== */
/* effet : zoom + translation + opacity */
.modalbox {
  font-family: baloo-regular;
  color: white;
  z-index: 48;
  position: absolute;
  height: 500px;
  width: 50vw;
  background-color: var(--color-modalbox);
  top: 40%;
  left: 50%;
  border-radius: 6px;
  border: 1px solid var(--color-main);
  box-shadow: 0 0 12px var(--color-modalborder);
  transform: translate(-50%, -45%) scale(0.94);
}
.box-appear {
  animation: box-appear .3s forwards ease-out;
}
@keyframes box-appear {
  0% {
    transform: translate(-50%, -45%) scale(0.94);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modalbox__title {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}
.modalbox__title h1 {
  display: inline;
  color: #999999;
  border: 1px solid #999999;
  padding: 14px 100px 0px 100px;
  font-size: 1.7rem;
  border-radius: 8px;
}
.modalbox__infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 120px
}
.modalbox__info {
  /* padding-left: 100px; */
  width: 25vw;
  font-size: 1.2rem;
}
.modalbox__info-left {
  padding-left: 40%;
}
.modalbox__info-right {
  padding-left: 20%;
}

.modalbox__info {
  padding-left: 10px;
}

.modalbox__btns {
  display: flex;
  justify-content: center;
}
.modalbox__btn {
  cursor: pointer;
  transform: translateY(0px);
  margin: 0px 15px;
}
.modalbox__btn-again {
  transform: translateY(-8px);
}
.modalbox__btn:hover rect, .modalbox__btn:hover path{
  transition: all 0.35s;
  fill: var(--color-main);
}
/* MODAL-BOX END =========== */


/* MODAL END ========================= */